@model IEnumerable<WebsiteBanTraiCay05.Models.EF.ProductCategory>

@if (Model != null && Model.Any())
{
    <div class="text-center">
        <div class="row">
            <div class="col-lg-4 text-start">
                <h1>Sản phẩm chúng tôi</h1>
            </div>
            <div class="col-lg-8 text-end">
                <div class="product-menu">
                    <div class="mb-5 filter-button-group">
                        <button class="m-2 py-2 bg-light rounded-pill active" data-filter="*">
                            <span>Tất cả</span>
                        </button>
                        @foreach (var item in Model)
                        {
                            <button class="m-2 py-2 bg-light rounded-pill" data-filter=".@item.Alias">
                                <span>@item.Title</span>
                            </button>
                        }
                    </div>
                </div>
            </div>
        </div>
        <div class="row product-list">
            @Html.Action("Partial_ItemFruits", "Product")
        </div>
    </div>
}



