
@{
    ViewBag.Title = "Đặt hàng thành công";
}

<div class="container-fluid py-5">
    <div class="container py-5 text-center">
        <div class="row">
            <div class="col-lg-12">
                <img src="~/Content/assets/img/cart-empty.png" />
                <h1 class="mt-5">Bạn đã đặt hàng thành công</h1>
                <div class="mt-5">
                    <a class="btn border-secondary rounded-pill py-3 px-5" href="/">Trở lại trang chủ</a>
                </div>
            </div>
        </div>
    </div>
</div>

