@model WebsiteBanTraiCay05.Models.OrderViewModel
@using (Ajax.BeginForm("CheckOut", "Cart", new AjaxOptions
{
    HttpMethod = "POST",
    UpdateTargetId = "loadData",
    OnComplete = "OnSuccessCO"
}, new { @Id = "myForm" }))
{
    <script>
        function OnSuccessCO() {
            location.href = "/Cart/CheckOutSuccess";
        }
    </script>
    @Html.AntiForgeryToken()
    <div class="form-item">
        <div class="form-item w-100">
            <label class="form-label my-3">Họ và tên<sup>*</sup></label>
            <input type="text" name="CustomerName" class="form-control mb-2">
        </div>
    </div>
    <div class="form-item">
        <div class="form-item w-100">
            <label class="form-label my-3">Số điện thoại<sup>*</sup></label>
            <input type="text" name="Phone" class="form-control mb-2">
        </div>
    </div>
    <div class="form-item">
        <div class="form-item w-100">
            <label class="form-label my-3">Email<sup>*</sup></label>
            <input type="email" name="Email" class="form-control mb-2">
        </div>
    </div>
    <div class="form-item">
        <div class="form-item w-100">
            <label class="form-label my-3">Địa chỉ<sup>*</sup></label>
            <input type="text" name="Address" class="form-control mb-2">
        </div>
    </div>
    <hr>
    <div class="form-item">
        <textarea name="text" class="form-control" spellcheck="false" rows="5" placeholder="Ghi chú"></textarea>
    </div>

    <div class="form-item mt-3 mb-4">
        <h2 class="form-label">Hình thức thanh toán</h2>
        <select class="form-control" name="TypePayment" id="typePayment">
            <option value="1" selected>Thanh toán khi nhận hàng</option>
            <option value="2">Thanh toán trực tuyến</option>
        </select>
    </div>
    <div class="form-group" id="loadFormPayment" style="display: none;">
        <h3 class="mt-3">Chọn phương thức thanh toán</h3>
        <h5>Cách 1: Chuyển hướng sang VNPAY chọn phương thức thanh toán</h5>
        <label class="ml-3"><input type="radio" name="TypePaymentVN" value="8" checked /> Cổng thanh toán VNPAYQR </label>
        <h5 class="mt-3">Cách 2: Tách phương thức thanh toán tại site của Merchant</h5>
        <label class="ml-3"><input type="radio" name="TypePaymentVN" value="1" /> Thanh toán qua ứng dụng hỗ trợ VNPAYQR </label><br />
        <label class="ml-3"><input type="radio" name="TypePaymentVN" value="2" /> ATM-Tài khoản ngân hàng nội địa </label><br /> <label><input type="radio" name="TypePaymentVN" value="3" /> Thanh toán qua thẻ quốc tế </label><br />
    </div>
    <div>
        <button type="submit" class="btn border-secondary py-3 px-4 text-uppercase w-100 text-primary mt-4">Đặt hàng</button>
    </div>

}
